[user]
	name = lmenou
	email = menl9426@gmail.com
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
	trustExitCode = true
[core]
	editor = nvim
[mergetool "vimdiff"]
	path = nvim
[credential]
	helper = cache --timeout 7200
[difftool]
	trustExitCode = true
	prompt = false
